html::-webkit-scrollbar,
body::-webkit-scrollbar,
div::-webkit-scrollbar,
section::-webkit-scrollbarb,
main::-webkit-scrollbar,
ul::-webkit-scrollbar,
.ant-layout::-webkit-scrollbar {
  background-color: #f4f4f4 !important;
  width: 7px !important;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb,
.ant-layout::-webkit-scrollbar-thumb {
  background-color: #81b955 !important;
}

.dashboard-wrapper .dashboard-content {
  padding: 0 30px;
  padding-bottom: 100px;
  overflow: hidden auto;
}

.dashboard-wrapper .card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.dashboard-wrapper .card-wrapper > div {
  width: 100%;
  margin-top: 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 0;
}

.dashboard-wrapper .top-venor-holder {
  display: flex;
}

.dashboard-wrapper .top-venor-holder > div {
  width: auto;
  flex: 1;
}

.dashboard-wrapper .top-venor-holder > div:first-of-type {
  margin-right: 30px;
}

.dashboard-wrapper .chart-wrapper > div {
  width: 100% !important;
  overflow: auto hidden;
}
