@font-face {
  font-family: Cairo;
  font-style: normal;
  src: local("Cairo Regular"), local("Cairo-Regular"), url("../sass/fonts/Cairo-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Cairo;
  font-style: normal;
  src: local("Cairo Bold"), local("Cairo-Bold"), url("../sass/fonts/Cairo-Bold.ttf");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../sass/fonts/Montserrat/Montserrat-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../sass/fonts/Montserrat/Montserrat-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../sass/fonts/Montserrat/Montserrat-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../sass/fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../sass/fonts/Montserrat/Montserrat-Bold.ttf");
  font-display: swap;
}

/************LINKS ********************/
/************ triangle ********************/
/************MEDIA QUERY ********************/
/*****************prfix*************/
/*****************input placeholder*************/
/***************** slide imgs *************/
.primary-fill, .primary-outline, .secondary-fill, .secondary-outline, .grayscale-fill, .grayscale-light-fill, .grayscale-light-outline, .warning-fill, .warning-outline, .info-fill, .info-outline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  min-height: 40px !important;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 4px;
  white-space: nowrap;
  text-decoration: none;
}

.sm-btn.primary-fill, .sm-btn.primary-outline, .sm-btn.secondary-fill, .sm-btn.secondary-outline, .sm-btn.grayscale-fill, .sm-btn.grayscale-light-fill, .sm-btn.grayscale-light-outline, .sm-btn.warning-fill, .sm-btn.warning-outline, .sm-btn.info-fill, .sm-btn.info-outline {
  min-height: 24px !important;
  padding: 0 18px;
  font-size: 14px;
  font-weight: normal;
}

.rounded.primary-fill, .rounded.primary-outline, .rounded.secondary-fill, .rounded.secondary-outline, .rounded.grayscale-fill, .rounded.grayscale-light-fill, .rounded.grayscale-light-outline, .rounded.warning-fill, .rounded.warning-outline, .rounded.info-fill, .rounded.info-outline {
  border-radius: 20px;
}

.light-green.primary-fill, .light-green.primary-outline, .light-green.secondary-fill, .light-green.secondary-outline, .light-green.grayscale-fill, .light-green.grayscale-light-fill, .light-green.grayscale-light-outline, .light-green.warning-fill, .light-green.warning-outline, .light-green.info-fill, .light-green.info-outline {
  color: #008539 !important;
  border: 1px solid #008539 !important;
}

.light-green.primary-fill:hover, .light-green.primary-outline:hover, .light-green.secondary-fill:hover, .light-green.secondary-outline:hover, .light-green.grayscale-fill:hover, .light-green.grayscale-light-fill:hover, .light-green.grayscale-light-outline:hover, .light-green.warning-fill:hover, .light-green.warning-outline:hover, .light-green.info-fill:hover, .light-green.info-outline:hover {
  background-color: #008539 !important;
  color: white !important;
}

.light-green-bg.primary-fill, .light-green-bg.primary-outline, .light-green-bg.secondary-fill, .light-green-bg.secondary-outline, .light-green-bg.grayscale-fill, .light-green-bg.grayscale-light-fill, .light-green-bg.grayscale-light-outline, .light-green-bg.warning-fill, .light-green-bg.warning-outline, .light-green-bg.info-fill, .light-green-bg.info-outline {
  background-color: #008539 !important;
}

.light-green-bg.primary-fill:focus, .light-green-bg.primary-outline:focus, .light-green-bg.secondary-fill:focus, .light-green-bg.secondary-outline:focus, .light-green-bg.grayscale-fill:focus, .light-green-bg.grayscale-light-fill:focus, .light-green-bg.grayscale-light-outline:focus, .light-green-bg.warning-fill:focus, .light-green-bg.warning-outline:focus, .light-green-bg.info-fill:focus, .light-green-bg.info-outline:focus {
  color: #fff;
}

.lg-btn.primary-fill, .lg-btn.primary-outline, .lg-btn.secondary-fill, .lg-btn.secondary-outline, .lg-btn.grayscale-fill, .lg-btn.grayscale-light-fill, .lg-btn.grayscale-light-outline, .lg-btn.warning-fill, .lg-btn.warning-outline, .lg-btn.info-fill, .lg-btn.info-outline {
  min-height: 38px !important;
  padding: 0 3.125rem;
  font-size: 16px;
  font-weight: normal;
}

.xlg-btn.primary-fill, .xlg-btn.primary-outline, .xlg-btn.secondary-fill, .xlg-btn.secondary-outline, .xlg-btn.grayscale-fill, .xlg-btn.grayscale-light-fill, .xlg-btn.grayscale-light-outline, .xlg-btn.warning-fill, .xlg-btn.warning-outline, .xlg-btn.info-fill, .xlg-btn.info-outline {
  min-height: 47px !important;
  padding: 0.75rem 3.25rem;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.43px;
  line-height: 1.06;
}

@media only screen and (max-width: 575px) {
  .xlg-btn.primary-fill, .xlg-btn.primary-outline, .xlg-btn.secondary-fill, .xlg-btn.secondary-outline, .xlg-btn.grayscale-fill, .xlg-btn.grayscale-light-fill, .xlg-btn.grayscale-light-outline, .xlg-btn.warning-fill, .xlg-btn.warning-outline, .xlg-btn.info-fill, .xlg-btn.info-outline {
    min-height: 40px !important;
    padding: 0.75rem 1.25rem;
    font-size: 15px;
  }
}

.primary-fill:focus, .primary-outline:focus, .secondary-fill:focus, .secondary-outline:focus, .grayscale-fill:focus, .grayscale-light-fill:focus, .grayscale-light-outline:focus, .warning-fill:focus, .warning-outline:focus, .info-fill:focus, .info-outline:focus {
  outline: none !important;
}

.sharpe.primary-fill, .sharpe.primary-outline, .sharpe.secondary-fill, .sharpe.secondary-outline, .sharpe.grayscale-fill, .sharpe.grayscale-light-fill, .sharpe.grayscale-light-outline, .sharpe.warning-fill, .sharpe.warning-outline, .sharpe.info-fill, .sharpe.info-outline {
  border-radius: 6px;
}

.primary-fill {
  background: #81b955;
  color: #FFF;
  border: 0;
}

.primary-fill:focus {
  background: #81b955;
  color: #FFF;
  border: 0;
}

.primary-fill:active {
  background: #81b955;
  color: #FFF;
  border: 0;
}

.primary-fill:hover {
  background: #81b955;
  color: #FFF;
  border-color: #81b955;
}

.primary-outline {
  background-color: #fff;
  color: #81b955;
  border: 1px solid #81b955;
  border-radius: 4px;
}

.primary-outline:hover {
  color: #fff;
  background-color: #81b955;
  border-color: #81b955;
}

.secondary-fill {
  background: #2db2bb;
  color: #FFF;
  border: 0;
}

.secondary-fill:focus {
  background: #2db2bb;
  color: #FFF;
  border: 0;
}

.secondary-fill:active {
  background: #2db2bb;
  color: #FFF;
  border: 0;
}

.secondary-fill:hover {
  background: #2db2bb;
  color: #FFF;
  border-color: #2db2bb;
}

.secondary-outline {
  background-color: #fff;
  color: #2db2bb;
  border: 1px solid #2db2bb;
  border-radius: 4px;
}

.secondary-outline:hover {
  color: #fff;
  background-color: #2db2bb;
  border-color: #2db2bb;
}

.grayscale-fill {
  background: #e4e4e4;
  color: #232323;
  border: 0;
}

.grayscale-fill:focus {
  background: #e4e4e4;
  color: #232323;
  border: 0;
}

.grayscale-fill:active {
  background: #e4e4e4;
  color: #232323;
  border: 0;
}

.grayscale-fill:hover {
  background: #e4e4e4;
  color: #232323;
  border-color: #e4e4e4;
}

.grayscale-light-fill {
  background: #f9f9fc;
  color: #FFF;
  border: 0;
}

.grayscale-light-fill:focus {
  background: #f9f9fc;
  color: #FFF;
  border: 0;
}

.grayscale-light-fill:active {
  background: #f9f9fc;
  color: #FFF;
  border: 0;
}

.grayscale-light-fill:hover {
  background: #f9f9fc;
  color: #FFF;
  border-color: #f9f9fc;
}

.grayscale-light-outline {
  background-color: #fff;
  color: #f9f9fc;
  border: 1px solid #f9f9fc;
  border-radius: 4px;
}

.grayscale-light-outline:hover {
  color: #fff;
  background-color: #f9f9fc;
  border-color: #f9f9fc;
}

.warning-fill {
  background: #d83025;
  color: #FFF;
  border: 0;
}

.warning-fill:focus {
  background: #d83025;
  color: #FFF;
  border: 0;
}

.warning-fill:active {
  background: #d83025;
  color: #FFF;
  border: 0;
}

.warning-fill:hover {
  background: #d83025;
  color: #FFF;
  border-color: #d83025;
}

.warning-outline {
  background-color: #fff;
  color: #d83025;
  border: 1px solid #d83025;
  border-radius: 4px;
}

.warning-outline:hover {
  color: #fff;
  background-color: #d83025;
  border-color: #d83025;
}

.info-fill {
  background: #d4b425;
  color: #FFF;
  border: 0;
}

.info-fill:focus {
  background: #d4b425;
  color: #FFF;
  border: 0;
}

.info-fill:active {
  background: #d4b425;
  color: #FFF;
  border: 0;
}

.info-fill:hover {
  background: #d4b425;
  color: #FFF;
  border-color: #d4b425;
}

.info-outline {
  background-color: #fff;
  color: #d4b425;
  border: 1px solid #d4b425;
  border-radius: 4px;
}

.info-outline:hover {
  color: #fff;
  background-color: #d4b425;
  border-color: #d4b425;
}

.remove-icon-btn {
  display: flex;
  align-items: center;
  color: #c30c00 !important;
  background: transparent !important;
  border: 0px;
  font-size: 15px;
  font-weight: 700;
  padding: 0;
}

.logout-link {
  color: #f50000 !important;
  margin-bottom: 0 !important;
}

.logout-link .anticon {
  margin-right: 5px;
}

.ant-layout-sider-trigger {
  background: #81b955;
  display: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
div::-webkit-scrollbar,
section::-webkit-scrollbarb,
main::-webkit-scrollbar,
ul::-webkit-scrollbar,
.ant-layout::-webkit-scrollbar {
  background-color: #f4f4f4 !important;
  width: 7px !important;
}

.ant-menu-submenu-selected {
  color: #81b955;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb,
.ant-layout::-webkit-scrollbar-thumb {
  background-color: #81b955 !important;
}

.first-list > div {
  margin-top: 0;
}

.ant-form-item-has-error .ant-form-item-explain, .ant-form-item-has-error .ant-form-item-split {
  color: #d83025;
}

.mr-20 {
  margin-right: 20px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-10 {
  margin-right: 10px;
}

.ant-spin-spinning {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #FFF;
}

.ant-spin-spinning .ant-spin-dot-item {
  background-color: #81b955;
}

.ant-layout-sider {
  background-color: #FFF;
}

.sidebar-logo {
  width: 60%;
  margin: auto;
  display: flex;
}

.sidebar-logo img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .sidebar-logo {
    display: none;
  }
}

.company-info {
  display: flex;
  justify-content: center;
  margin-top: 16px !important;
}

.company-info > div p {
  text-align: center;
}

.ant-picker-input > input {
  font-size: 16px;
}

.company-veiw-wrapper > div {
  padding: 0 30px;
}

@media only screen and (max-width: 575px) {
  .company-veiw-wrapper > div {
    padding: 0 15px;
  }
}

.company-veiw-wrapper .company-grid-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 100px;
}

@media only screen and (max-width: 1247px) {
  .company-veiw-wrapper .company-grid-holder {
    grid-template-columns: 1fr 1fr;
    gap: 30px 60px;
  }
}

@media only screen and (max-width: 575px) {
  .company-veiw-wrapper .company-grid-holder {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.company-veiw-wrapper .company-grid-holder > div {
  width: 100%;
  padding-top: 5px;
  margin-top: 0;
  position: relative;
}

.company-veiw-wrapper .company-grid-holder > div > div:first-of-type img {
  width: 70px;
  object-fit: contain;
}

.progress-holder {
  top: -6px;
}

.progress-holder .ant-progress-bg {
  background-color: #81b955;
}

.add-company-wrapper {
  margin: 0 30px !important;
}

.add-offer-wrapper > div {
  padding: 0 30px;
  margin-bottom: 100px;
}

.club-wrapper {
  padding: 0 30px;
  padding-bottom: 100px;
}

.club-wrapper .club-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 100px;
}

@media only screen and (max-width: 1247px) {
  .club-wrapper .club-card-list {
    grid-template-columns: 1fr 1fr;
    gap: 30px 60px;
  }
}

@media only screen and (max-width: 575px) {
  .club-wrapper .club-card-list {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.club-wrapper .club-card-list > div {
  width: 100%;
  padding-top: 5px;
  margin-top: 0;
  position: relative;
}

.club-wrapper .club-card-list > div > div:first-of-type img {
  width: 80px;
  object-fit: contain;
}

.dropdown-list {
  position: absolute;
  right: 12px;
  top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #81b955;
}

.dropdown-list-holder a {
  padding: 5px 20px;
  font-size: 16px;
}

.vendor-page-wrapper {
  padding: 0 30px;
  padding-bottom: 100px;
}

.vendor-page-wrapper .vendor-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 100px;
}

@media only screen and (max-width: 1247px) {
  .vendor-page-wrapper .vendor-card-list {
    grid-template-columns: 1fr 1fr;
    gap: 30px 60px;
  }
}

@media only screen and (max-width: 575px) {
  .vendor-page-wrapper .vendor-card-list {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.vendor-page-wrapper .vendor-card-list > div {
  width: 100%;
  padding-top: 5px;
  margin-top: 0;
  position: relative;
}

.vendor-page-wrapper .vendor-card-list > div > div:first-of-type img {
  width: 80px;
  object-fit: contain;
}

.vendor-profile-wrapper {
  padding: 0 30px;
  padding-bottom: 100px;
}

.add-company-form {
  height: 100%;
  margin: 0 30px;
}

@media only screen and (max-width: 767px) {
  .add-company-form {
    margin: 0 15px;
  }
}

.add-company-form .form-holder {
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 35px 25px;
  border-radius: 8px;
  margin-bottom: 110px;
}

.add-company-form .form-holder h2 {
  font-weight: bold;
  font-size: 22px;
  color: #232323;
  margin-bottom: 30px;
}

.add-company-form .form-holder h4 {
  font-weight: bold;
  font-size: 22px;
  color: #232323;
  margin-bottom: 35px;
  margin-top: 25px;
}

.add-company-form .form-holder form {
  width: 90%;
  margin: auto;
}

.add-company-form .btn-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add-company-form .ant-form-item-label > label.ant-form-item-required::before {
  display: none;
}

.add-company-form .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: 600px;
  padding: 13px;
  border-radius: 8px;
  border: 1px solid #a9a9a9;
  height: 50px;
}

@media only screen and (max-width: 991px) {
  .add-company-form .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 400px;
  }
}

@media only screen and (max-width: 575px) {
  .add-company-form .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 300px;
  }
}

@media only screen and (max-width: 399px) {
  .add-company-form .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: fit-content;
  }
}

.add-company-form .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #232323;
  margin-right: 20px;
  font-weight: normal;
}

.add-company-form .ant-form-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-company-form .ant-form-item .ant-form-item-label {
  width: 180px;
  text-align: left;
  height: 50px;
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.add-company-form .ant-form-item .ant-form-item-label label {
  font-size: 16px;
  color: #232323;
  margin-right: 20px;
  font-weight: normal;
}

@media only screen and (max-width: 767px) {
  .add-company-form .ant-form-item .ant-form-item-label {
    width: auto !important;
  }
}

.add-company-form .ant-form-item .ant-form-item-control-input {
  width: fit-content;
}

@media only screen and (max-width: 575px) {
  .add-company-form .ant-form-item .ant-form-item-control-input {
    width: 100%;
  }
}

.add-company-form .ant-form-item .ant-form-item-control-input .ant-input, .add-company-form .ant-form-item .ant-form-item-control-input .ant-input-number-input, .add-company-form .ant-form-item .ant-form-item-control-input .ant-picker-range, .add-company-form .ant-form-item .ant-form-item-control-input .ant-picker {
  width: 600px;
  padding: 13px;
  border-radius: 8px;
  border: 1px solid #a9a9a9;
  height: 50px;
  font-size: 16px;
  color: #232323;
}

@media only screen and (max-width: 991px) {
  .add-company-form .ant-form-item .ant-form-item-control-input .ant-input, .add-company-form .ant-form-item .ant-form-item-control-input .ant-input-number-input, .add-company-form .ant-form-item .ant-form-item-control-input .ant-picker-range, .add-company-form .ant-form-item .ant-form-item-control-input .ant-picker {
    width: 400px;
  }
}

@media only screen and (max-width: 575px) {
  .add-company-form .ant-form-item .ant-form-item-control-input .ant-input, .add-company-form .ant-form-item .ant-form-item-control-input .ant-input-number-input, .add-company-form .ant-form-item .ant-form-item-control-input .ant-picker-range, .add-company-form .ant-form-item .ant-form-item-control-input .ant-picker {
    width: 300px;
  }
}

@media only screen and (max-width: 399px) {
  .add-company-form .ant-form-item .ant-form-item-control-input .ant-input, .add-company-form .ant-form-item .ant-form-item-control-input .ant-input-number-input, .add-company-form .ant-form-item .ant-form-item-control-input .ant-picker-range, .add-company-form .ant-form-item .ant-form-item-control-input .ant-picker {
    width: fit-content;
  }
}

.add-company-form .ant-form-item .ant-form-item-control-input .ant-input-password {
  width: 600px;
  padding: 0;
  padding-right: 15px;
  border-radius: 8px;
  border: 1px solid #a9a9a9;
  height: 50px;
  font-size: 16px;
  color: #232323;
}

@media only screen and (max-width: 991px) {
  .add-company-form .ant-form-item .ant-form-item-control-input .ant-input-password {
    width: 400px;
  }
}

@media only screen and (max-width: 575px) {
  .add-company-form .ant-form-item .ant-form-item-control-input .ant-input-password {
    width: 300px;
  }
}

@media only screen and (max-width: 399px) {
  .add-company-form .ant-form-item .ant-form-item-control-input .ant-input-password {
    width: fit-content;
  }
}

.add-company-form .ant-form-item .ant-form-item-control-input .ant-input-password .ant-input {
  border: 0;
  width: 100%;
  height: 100%;
  padding: 13px;
}

.add-company-form .ant-input-number-handler-wrap {
  display: none;
}

.add-company-form .ant-input-number {
  border: 0;
  width: fit-content !important;
}

.add-company-form.add-vendor-form .ant-form-item .ant-form-item-label label {
  white-space: normal;
}

.add-company-form.add-vendor-form .ant-form-item .ant-form-item-label {
  width: 200px;
}

.ant-switch-checked {
  background-color: #81b955;
}

.map-wrapper {
  display: flex;
  align-items: center;
}

.map-wrapper label {
  font-size: 16px;
  color: #232323;
  margin-right: 20px;
  font-weight: normal;
  width: 200px;
}

.invoice-page-wrapper {
  margin: 0 30px !important;
  margin-bottom: 100px !important;
  min-height: 75vh;
}

.invoice-page-wrapper p {
  margin-bottom: 0;
}

.invoice-page-wrapper > .ant-select-single ~ div > header {
  display: none;
}

.invoice-page-wrapper h3 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
  font-weight: 400;
  margin-top: 25px;
}

.offer-page-wrapper {
  padding: 0 30px;
  padding-bottom: 100px;
  min-height: 80vh;
}

.offer-page-wrapper > div {
  margin-top: 0;
}

.table-action {
  cursor: auto;
}

.table-action a {
  color: #81b955;
  font-size: 16px;
}

.ant-select-selection-placeholder {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #232323;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.root-wrapper > section {
  background-color: #f2f3f8;
}

.profile-holder {
  display: flex;
  align-items: center;
}

.profile-holder p {
  margin-bottom: 0;
  margin-top: 0;
}

.profile-holder > div {
  padding: 15px 10px;
  top: 40px;
}

.profile-holder > div > p {
  margin-bottom: 10px;
}

.ant-menu-item .anticon + span, .ant-menu-submenu-title .anticon + span {
  font-size: 16px;
}

.active-tag {
  background-color: rgba(10, 187, 135, 0.1);
  color: #0abb87;
  cursor: text !important;
  border-radius: 2rem;
  padding: 5px 20px;
  font-size: 16px;
}

.inactive-tag {
  background-color: rgba(253, 57, 122, 0.1);
  color: #fd397a;
  cursor: text !important;
  border-radius: 2rem;
  padding: 5px 20px;
  font-size: 16px;
}

.grid-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 15px 20px;
  width: 100%;
}

.grid-holder > div {
  padding: 20px 15px;
  border-radius: 4px;
  border: 1px solid #DDD;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  position: relative;
  margin: 0;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.grid-holder > div:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.company-veiw-wrapper {
  padding-bottom: 120px;
}

.grid-holder {
  padding: 0 30px;
}

.grid-holder .company-card {
  align-items: flex-start !important;
  padding-top: 20px;
}

.grid-holder .company-card .company-info {
  display: flex;
  align-items: center;
}

.grid-holder .company-card .company-info h4 {
  font-size: 20px;
  color: #48465b;
  font-weight: 500;
  margin: 0 20px;
}

.grid-holder .company-card .company-info img {
  width: 50px;
  margin: auto;
}

.grid-holder .company-card .primary-fill {
  margin-top: 20px;
}

.grid-holder .company-card .anticon-more {
  position: absolute;
  top: 10px;
  right: 6px;
  font-size: 22px;
}

.grid-holder .company-card .active-tag, .grid-holder .company-card .inactive-tag {
  margin-left: auto;
}

.grid-holder .company-card .company-detailes {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
}

.grid-holder .company-card .company-detailes > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  cursor: text;
}

.grid-holder .company-card .company-detailes > div p, .grid-holder .company-card .company-detailes > div h5 {
  margin-bottom: 0;
}

.grid-holder .company-card .company-detailes > div h5 {
  color: #48465b;
  font-weight: 600;
  font-size: 15px;
}

.grid-holder .company-card .company-detailes > div p, .grid-holder .company-card .company-detailes > div a {
  color: #74788d;
  font-weight: 400;
  font-size: 15px;
}

.dashboard-wrapper .dashboard-content {
  padding: 0 30px;
  padding-bottom: 100px;
  overflow: hidden auto;
}

@media only screen and (max-width: 575px) {
  .dashboard-wrapper .dashboard-content {
    padding: 0 10px;
    padding-bottom: 100px;
  }
}

.dashboard-wrapper .card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media only screen and (max-width: 1199px) {
  .dashboard-wrapper .card-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}

@media only screen and (max-width: 575px) {
  .dashboard-wrapper .card-wrapper {
    grid-template-columns: 1fr;
  }
}

.dashboard-wrapper .card-wrapper > div {
  width: 100%;
  margin-top: 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 0;
}

.dashboard-wrapper .top-venor-holder {
  display: flex;
}

.dashboard-wrapper .top-venor-holder > div {
  width: auto;
  flex: 1;
}

.dashboard-wrapper .top-venor-holder > div:first-of-type {
  margin-right: 30px;
}

@media only screen and (max-width: 991px) {
  .dashboard-wrapper .top-venor-holder {
    flex-direction: column;
  }
  .dashboard-wrapper .top-venor-holder > div {
    margin: 0 !important;
    margin-bottom: 25px !important;
  }
}

@media only screen and (max-width: 991px) and (max-width: 575px) {
  .dashboard-wrapper .top-venor-holder > div {
    padding: 15px 10px;
  }
}

.dashboard-wrapper .chart-wrapper > div {
  width: 100% !important;
  overflow: auto hidden;
}

@media only screen and (max-width: 575px) {
  .revenue-holder > div {
    padding: 15px 10px;
  }
  .revenue-holder .revenue-name {
    margin: 0;
  }
}

.revenue-holder .progress-holder {
  display: flex;
  align-items: center;
  top: 0;
}

.revenue-holder .progress-holder .ant-progress-text {
  color: #000;
  font-weight: bold;
  font-size: 17px;
  width: 50px;
}

.ant-progress-inner {
  background-color: #ebedf2;
}

.auth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f2f3f8;
}

.auth-wrapper .auth-content {
  width: 85%;
  max-width: 1250px;
  height: 70%;
  display: flex;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 991px) {
  .auth-wrapper .auth-content {
    width: 95%;
  }
}

.auth-wrapper .form-wrapper {
  width: 40%;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 110px 50px;
}

.auth-wrapper .form-wrapper .primary-fill {
  padding: 0 34px;
}

.auth-wrapper .form-wrapper .ant-form-item-label > label {
  color: #d7d7d7;
  height: 20px;
}

.auth-wrapper .form-wrapper .ant-form-item-label > label.ant-form-item-required::before {
  display: none;
}

.auth-wrapper .form-wrapper .ant-input,
.auth-wrapper .form-wrapper .ant-input-affix-wrapper {
  background-color: #f2f3f8;
  border: 0;
  width: 80%;
  height: 40px;
}

.auth-wrapper .form-wrapper .ant-input-affix-wrapper .ant-input {
  height: 100%;
}

@media only screen and (max-width: 991px) {
  .auth-wrapper .form-wrapper {
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .auth-wrapper .form-wrapper {
    width: 100%;
    padding: 40px 25px;
  }
}

.auth-wrapper .form-wrapper .warning-msg {
  color: #d83025;
  font-size: 15px;
  text-transform: capitalize;
}

.auth-wrapper .form-wrapper form {
  width: 100%;
}

.auth-wrapper .form-wrapper .ant-form-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.auth-wrapper .form-wrapper .ant-form-item .ant-form-item-control {
  width: 100%;
}

.auth-wrapper .auth-hero {
  width: 60%;
  background: url(../../images/login.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .auth-wrapper .auth-hero {
    display: none;
  }
}

.auth-wrapper .login-btn {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.auth-wrapper .login-btn .ant-form-item {
  margin-bottom: 0;
}

.auth-wrapper .login-btn a {
  margin: 0 16px;
  color: #81b955;
}
