.company-veiw-wrapper{
    display: flex;
    flex-direction: column;
    > div{
        padding: 0 30px;
        height: 100%;
        @include mq("phablet"){
            padding: 0 15px;
        }
    }
    .company-grid-holder{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px 100px;
        height: 100%;
        @include mq("desktop"){
          grid-template-columns: 1fr 1fr;
          gap: 30px 60px;
        }
        @include mq("phablet"){
          grid-template-columns: 1fr;
          gap: 0;
        }
        > div{
            width: 100%;
            padding-top: 5px;
            margin-top: 0;
            position: relative;
            height: fit-content;
            > div{
                &:first-of-type{
                    img{
                        width: 70px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}
.progress-holder{
    top: -6px;
    .ant-progress-bg{
        background-color: #81b955;
    }
}
.add-company-wrapper{
    margin: 0 30px !important;
}

.add-offer-wrapper{
    > div{
        padding: 0 30px;
        margin-bottom: 100px;
    }
}

.file-upload-wrapper{
    .fileContainer{
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        flex-direction: row;
        box-shadow : none;
        > p{
            display: none;
        }
        .chooseFileButton {
            white-space: nowrap;
        }
        @include mq("tablet"){
            flex-direction: column;
        }
    }
}

.ant-pagination-options{
    display: none;
}


